* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: #fff;
}
#outer {
	width: 100%;
	max-width: 1200px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
        flex-direction: column;
}
#upper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#form,
#content {
	flex: 1 0 50%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#content {
	font-family: Verdana, Geneva, sans-serif;
}

#form h1 {
	font-size: 24pt;
	font-weight: normal;
	padding: 0 5px 0 10px;
}
#lower {
  margin-top: auto;
  padding: 15px;
  text-align: center;
  font-size: 10pt;
}
.form {
	width: 440px;
	max-width: 100%;
	margin-top: 15px;
	border-collapse: collapse;
	background-color: #eee;
	border-radius: 7px;
}
.form input {
	width: 100%;
	padding: 5px;
	font-size: 1.2em;
	line-height: 1;
	font-family: inherit;
	border: 1px solid #ccc;
}
.form input:focus {
	border-color: #000;
	outline: none;
	box-shadow: none;
}
.form th,
.form td {
	padding: 15px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.ui-slider {
	width: 100%;
	margin: 0;
}

.form .sliders {
	padding-right: 15px;
}

.color-sliders .ui-slider {
	margin-bottom: 15px;
}
.color-sliders .ui-slider:last-child {
	margin-bottom: 0;
}

#red .ui-slider-range {
	background: #ef2929;
}
#red .ui-slider-handle {
	border-color: #ef2929;
}
#green .ui-slider-range {
	background: #8ae234;
}
#green .ui-slider-handle {
	border-color: #8ae234;
}
#blue .ui-slider-range {
	background: #729fcf;
}
#blue .ui-slider-handle {
	border-color: #729fcf;
}
#handle-fontsize,
#handle-rotate,
#handle-width,
#handle-height {
	width: 2em;
	text-align: center;
}

.export-option {
	display: inline-block;
	text-decoration: none;
	margin-right: 10px;
	color: #000;
}
.export-option button {
	padding: 3px 10px;
	font-size: inherit;
}



@media (max-width: 500px) {
	#form, #content {
		flex: 0 0 100%;
	}
	#form {
		display: block;
	}
	.form {
		width: 100%;
	}
	.form tr {
		display: block;
		width: 100%;
	}
	.form th {
		display: block;
		width: 100%;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.form td {
		display: block;
		width: 100%;
		padding-top: 0;
		padding-left: 50px;
	}
}

@media (max-width: 400px) {
	#form, #content {
		padding: 10px 0;
	}
	#form {
		background-color: #eee;
	}
	.form {
		border-radius: 0;
	}
}

